@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --font-title: "Libre Caslon Text", serif;
    --font-text: "Inter", serif;

    --cor-principal: #A54A3C;
    --cor-complementar: #A65C3C;
    --cor-complementar2: #A63C4B;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

header menu {
    display: flex;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-family: var(--font-text);
    font-size: 19px;
    font-weight: normal;
    padding: 10px;
    transition: .3s;
}

nav ul li a:hover {
    color: var(--cor-principal);
}

.maiores {
    display: flex;
    align-items: center;
}

.maiores h1 {
    font-family: var(--font-title);
    color: var(--cor-principal);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.37);
}

.maiores img {
    margin: 0px 0px 0px 30px;
}

main h1 { 
    margin: auto;
    margin-bottom: 3px;
    text-align: center;
    color: var(--cor-principal);
    font-family: var(--font-title);
    font-size: 40px;
    padding: 15px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.37);
}
 
main h2 {
    margin: auto;
    text-align: center;
    font-family: var(--font-title);
    font-size: 29px;
    margin-bottom: 15px;
    min-width: 400px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.37);
}

main h2 span {
    color: var(--cor-principal);
}

main strong {
    color: var(--cor-principal);
}

main p#button {
    margin: auto;
    text-align: center;
    background-image: linear-gradient(to right, var(--cor-complementar2), var(--cor-complementar), var(--cor-principal));
    padding: 16px;
    margin-top: 35px;
    margin-bottom: 35px;
    width: 332px;
    border-radius: 8px;
    transition: 1s;
}

main p#button:hover {
    padding: 20px;
    background-image: linear-gradient(to left, var(--cor-principal), var(--cor-complementar2), var(--cor-complementar));
}

main p#button a {
    text-decoration: none;
    color: white;
    font-family: var(--font-text);
    font-weight: 400;
    font-size: 23px;
    max-width: 312px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.37);
}

.texto1 {
    margin: 20px;
    font-weight: 700;
}

.texto1 p, .texto2 p {
    text-align: justify;
    font-family: var(--font-text);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
    line-height: 160%;
    text-indent: 30px;
    max-width: 630px;
}

.texto2 h2 {
    font-size: 30px;
}

.equipe {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    max-width: 768px;
    height: 440px;
    margin: auto;
    background-color: rgba(151, 127, 123, 0.568);
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.856);
    box-sizing: border-box;
}

.equipe div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#bruna img, #carlos img, #esther img, #rafael img{
    width: 160px;
    transition: .8s;
}

#bruna img:hover, #carlos img:hover, #esther img:hover, #rafael img:hover {
    width: 170px;
}

.iframe {
    text-align: center;
    margin: 30px 0px 30px 0px;
}

.iframe iframe {
    width: 400px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.39);
}

footer {
    background-image: linear-gradient(to right, var(--cor-complementar2), var(--cor-complementar), var(--cor-principal));
    color: white;
    padding: 10px;
    text-align: center;
}




